body {
	padding: 0;
	margin: 0;
	background: #f2f6e9;
}

/*--- navigation bar ---*/

.navbar {
	background: #ffffff;
}

.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}

/*--- header ---*/

.header {
	
	background-image: url('images/header-background.jpg');
	background-size: cover;
	background-position: center;
	position: relative;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.4);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
	padding-top: 100px;
}

.description h1 {
	font-size:42px;
	color: #ffffff;
	padding-bottom: 20px;
}

.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
	padding-top: 5px;
}

.description button {
	border: 2px solid #ffffff;
	background: #292b28;
	border-radius: 90px;;
	color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.description button:hover {
	background-color: #FFEED6;
	box-shadow: 0px 15px 20px rgba(9, 54, 71, 0.4);
	color: #fff;
	transform: translateY(-3px);
  }
.description button:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #000;
}

@media (max-width: 575.98px) {

	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}
	
	.description h1 {
		font-size: 2em;
	}
	
	.description p {
		font-size: 1.2rem;
	}
	
	.features {
		margin: 0;
	}

}