{%load static%}
<!DOCTYPE html>
{% block content %}

<html lang="en">
<style>@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');</style>
  <head>
    <title>Tari Trinatha's Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
  </head>
<body>
<nav class="navbar navbar-expand-md">
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <li class="nav-active">
                <a class="nav-link" target="new" href="#">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="new" href="{% url 'education.html' %}">EDUCATION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="new" href="{% url 'experience.html' %}">EXPERIENCE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="new" href="{% url 'contacts.html' %}"">CONTACTS</a>
            </li>       
            <li class="nav-item">
                    <a class="nav-link" target="new" href="{% url 'escape.html' %}"">ESCAPE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="new" href="{% url 'Schedule.html' %}"">SCHEDULE</a>
            </li>
        </ul>
        
    </div>
</nav>
</body>
</html>
{% endblock %}