{%load static%}
{% extends 'base.html'%}

{% block content %}
<html lang="en">
    <style>@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');</style>
  <head>
    <title>Tari Trinatha's Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
  </head>
<body>
    
<header class="page-header header container-fluid">
    
        <a href="{% url 'index.html'%}"target="new"><img src="{% static 'images/home.png' %}"class="rounded-circle" alt="HOME"width="50" height="50"></a> 
    
	<div class="overlay">
        <h1>CONTACTS</h1>
        <div class="img1" style="top:200px; bottom:200px;position:relative" >
            <img src="{% url 'images/ig.jfif'%}" class="rounded-circle" alt="IG"width="54" height="54">
            <br>@tari_trinatha
            <br><img src="{% url 'images/linked.png'%}" class="rounded-circle" alt="LINKED"width="54" height="54">
            <br>linkedin.com/in/tari-trinatha
            <br><img src="{% url 'images/twit.png'%}" class="rounded-circle" alt="TWITTER"width="54" height="54">
            <br>@trtrntha
            <br><img src="{% url 'images/email.png'%}" class="rounded-circle" alt="EMAIL"width="54" height="54">
            <br>taritrinatha@gmail.com
        </div>
        
    </div>
    
	<div class="description">
		<img src="{% url 'images/pose1.jpg'%}" class="rounded-circle" alt="Picture of Tari"width="252" height="252">
    </div>
    
</header>


<script src="jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>
</html>
{% endblock %}