{%load static%}
{% extends 'base.html'%}

{% block content %}
<html lang="en">
    <style>@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');</style>
  <head>
    <title>Tari Trinatha's Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
  </head>
<body>
    
<header class="page-header header container-fluid">
    
        <a href="{% url 'index.html'%}"target="new"><img src="{% static'images/home.png'%}"class="rounded-circle" alt="HOME"width="50" height="50"></a> 
    
	<div class="overlay">
        <h1>EDUCATION</h1>
        <ul>
            <li>TK Al-Azhar 2 Bandar Lampung - 2005</li>
            <li>SD Al-Azhar 2 Bandar Lampung - 2011</li>
            <li>SMPN 2 Bandar Lampung - 2014</li>
            <li>SMAN 2 Bandar Lampung - 2017</li>
            <li>Universitas Indonesia - now</li>
            <hr>
            <li>Mathematics Olimpiade of HIMATIKA UNILA 2011, 3rd winner</li>
            <li>PBB Pramuka UNILA 2013, 3rd winner in Lampung Province</li>
            <li>Mathematics International Competition Assesments for School (ICAS) 2013, “Distinction” Predicate</li>
        </ul>
        
    </div>
	<div class="description">
		<img src="{% statics 'images/pose1.jpg'%}" class="rounded-circle" alt="Picture of Tari"width="252" height="252">
    </div>
    
</header>


<script src="jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>
</html>
{% endblock %}