{%load static%}
{% extends 'base.html'%}

{% block content %}
<html lang="en">
	<style>@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');</style>
  <head>
    <title>ESCAPE ESCAPE ESCAPE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  </head>
<body>
	<header class="page-header header container-fluid">
		<div class="overlay"></div>
		<div class="description">
			<img src="https://media.tenor.com/images/db5a4e33b78ae2333f92726bab11d35a/tenor.gif}" class="rounded-circle" alt="baby is running yo"width="250" height="250">
            <hr>
            <h1 style="font-family: Lobster">Shoo</h1>
			<a href="https://open.spotify.com/playlist/3gusifDdmHEMDyEF1Xcqj4"target="new"><button class="btn btn-outline-secondary btn-lg">ESCAPE BUTTON</button></a> 
            <p style="font-family: Cinzel">Actually, this page has nothing but if you're feeling like wanting small escape just hit the button above hehe.</p>
            
        <a href="{% url 'index.html'%}"target="new"><img src="{% static 'images/home.png'%}"class="rounded-circle" alt="HOME"width="50" height="50"></a> 
		</div>
	</header>

<script src="jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>
</html>
{% endblock %}