{% load static%}
{% extends 'base.html'%}

{% block content %}
<html lang="en">
    <style>@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');</style>
  <head>
    <title>Tari Trinatha's Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
  </head>
<body>
    
<header class="page-header header container-fluid">
    
        <a href="{% url 'index.html'%}"target="new"><img src="{% static 'images/home.png' %}"class="rounded-circle" alt="HOME"width="50" height="50"></a> 
    
	<div class="overlay">
        <h1>EXPERIENCE</h1>
        <p>2017 &nbsp;English Club Universitas Lampung
        <br>2018  &nbsp;Secretary of Social Project Fasilkom Year 2018
        <br>2018  &nbsp;Staff of Event TOBK Univ. Indonesia
        <br>2018  &nbsp;Staff of Social Dept. FUKI
        <br>2019  &nbsp;Staff of Decoration and Costume COMPFEST 11
        <br>2019  &nbsp;Staff of Decoration for UI ETHNOVAGANZA
        <br>2019  &nbsp;Vice Chairman of Paguyuban Saimala UI</p>
        
    </div>
	<div class="description">
        <img src="{% static 'images/pose1.jpg' %}" class="rounded-circle" alt="Picture of Tari"width="252" height="252">
        
	</div>
</header>


<script src="jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>
</html>
{% endblock %}