{% load static%}
{% extends 'base.html'%}

{% block content %}
<html lang="en">
	<style>@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
	@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');</style>
  <head>
    <title>Tari Trinatha's Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
  </head>
<body>
	<header class="page-header header container-fluid">
		<div class="overlay"></div>
		<div class="description">
			<img src="{% static 'images/tari.png'%}" class="rounded-circle" alt="Picture of Tari"width="250" height="250">
			<h1 style="font-family: Lobster">Hi, I am Tari!</h1>
			<a href="{% url 'profile.html'%}"target="new"><button class="btn btn-outline-secondary btn-lg">Get to Know Me</button></a> 
			<p style="font-family: Cinzel">"In the world that favored extraordinaries. The last thing people wanted was to be ordinary."</p>
		</div>
	</header>

<script src="jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>
</html>
{% endblock %}