{% load static%}
{% extends 'base.html'%}

{% block content %}
<html lang="en">
    <style>@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');</style>
  <head>
    <title>Tari Trinatha's Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static bootstrap/css/bootstrap.min.css %}">
	<link rel="stylesheet" type="text/css" href="{% static profile.css %}">
  </head>
<body>
    
<header class="page-header header container-fluid">
    
        <a href="{% url 'index.html'%}"target="new"><img src="{% static'images/home.png'%}"class="rounded-circle" alt="HOME"width="50" height="50"></a> 
    
	<div class="overlay">
        <h1>MY PROFILE</h1>
        <p>My name is Tari Trinatha. I am 20 years old. I study Information System at Universitas Indonesia. I spend most of my time for studying, singing, reading books, and reflecting myself. Type of personality of mine is ENTP. I’m having high level of curiousity and gut. I’m willing to discover and try new things. Can’t wait to have new works done!</p>
        <q>Out beyond the ideas of right-doing and wrong-doing, there is a field. I'll meet you there.</q>
        
    </div>
	<div class="description">
		<img src="{%static 'images/pose1.jpg' %}" class="rounded-circle" alt="Picture of Tari"width="252" height="252">
    </div>
</header>


<script src="jquery-3.3.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>
</html>
{% endblock %}