{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="sched">
    <div class="container">
        <h1>Schedule</h1>
        <hr>
        <div class="col-md-12 left">
            <form method="POST" action="{% url 'del_sched' %}">
                {% csrf_token %}
                <button data-toggle="modal" data-target="#con-close-modal" class="btn btn-icon btn-danger" style="float: right !important;">
                    <i class="fa fa-trash"></i>
                </button>
            </form>

            <a href="{% url 'sched_add' %}"><button data-toggle="modal" data-target="#con-close-modal" class="btn btn-icon btn-primary" style="float: right !important; margin-right: 10px;">
                <i class="fa fa-plus-circle"></i>
            </button></a>
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>Activity</th>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Location</th>
                        <th>Category</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in data %}
                    <tr>
                        <td>{{ obj.activity }}</td>
                        <td>{{ obj.dates|date:"l" }}</td>
                        <td>{{ obj.dates }}</td>
                        <td>{{ obj.time }}</td>
                        <td>{{ obj.location }}</td>
                        <td>{{ obj.category }}</td>
                        <td><a href="{% url 'sched_edit' pk=obj.pk %}"><button data-toggle="modal" data-target="#con-close-modal" class="btn btn-icon btn-info"><i class="fa fa-keyboard"></i></button></a></td>
                        <td><a href="{% url 'sched_delete' pk=obj.pk %}"><button class="btn btn-icon btn-danger"><i class="fa fa-trash"></i></button></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
